*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
pose17_viz/__pycache__/__init__.cpython-313.pyc.2397225876016
pose17_viz/__pycache__/io.cpython-313.pyc.2397226482480
pose17_viz/__pycache__/transform.cpython-313.pyc.2397339487280
pose17_viz/__pycache__/plotting.cpython-313.pyc.2397231178416
.gradle-user/
__pycache__/
*.pyc
